
// Includes
@import 'global'


// Additional Global Styles
.toggle
  transition: linear 0.3s all

  &.ng-enter
    opacity: 0
  &.ng-enter-stagger
    transition-delay: 0.05s
    transition-duration: 0s

  &.ng-enter-active

  &.ng-leave

  &.ng-leave-active
    opacity:0
