#_loop11__BODY1_DIV1
  // top: 189px !important
  // position: relative


#loop11-task-panel
  top: 0px !important;
  display: block !important;
  width: 75px !important;
  opacity: 0.4
  &:hover
    opacity: 1 !important
    width: 100% !important




.stop-scrolling
  height: 100%
  overflow: hidden

.breadcrumbs
  background: none
  border: none
  padding: 10px 0 20px
  font-size: 15px

.body
  font-family: body_copy

.logo
  margin-top: 6px

.button a
  color: black
  width: 150%
  height: 150%

.button.disabled
  opacity: 0.7 !important
a
  color: black
  &:hover
    color: black

.back
  font-family: body_copy
  text-transform: uppercase
  font-size: 0.8em
  opacity: 0.8
  letter-spacing: 1px
  &:hover
    opacity: 1
    font-weight: 600

// Notifications Component
.notifications
  z-index: 1000
  position: fixed
  right: 0
  top: 0
  li
    position: relative
    width: 450px
    background: #F6F6EF
    opacity: 0.95
    padding: 10px 0 0
    table
      width: 100%
      border: none
  .title
    font-weight: 400
    letter-spacing: 1px
    font-family: body_copy
    text-transform: uppercase
    margin-left: 10px

  .close
    font-size: 30px
    position: absolute
    right: 15px
    top: -5px
    padding: 0 10px
    z-index: 1000
    &:hover
      font-weight: bold
  .thumb
    width: 100px
    height: 100px
    img
      width: 100%


.component
  // border: 1px solid rgba(255,0,0,0.5)
  h2
    font-family: headline
    font-weight: bold
    font-size: 2.5em
    text-transform: uppercase
  h3
    font-size: 1.8em
  p
    font-size: 0.8em
  .button
    &.cta
      background: yellow2
      color: black
      font-size: 1em

      opacity: 0.85
      &:hover
        opacity: 1
  .tagline
    font-size: 1.2em
    margin: -2px 0 15px
    letter-spacing: 1px
  .controls
    font-size: 60px
    color: grey
    opacity: 0.2
    text-shadow: 1px 1px lightgrey
    &:hover
      opacity: 0.6
      text-shadow: 1px 1px 2px lightgrey


.button, button
  margin-top: 0.5em
  // padding-bottom: 10px
  &.cta
    background: yellow2
    color: black
  &.secondary
    background: none
  &:hover
    background: yellow1
button[disabled]
  margin-top: 0.5em
  opacity: 0.6
  color: black
  background: yellow2
  &:hover
    background: yellow2
    opacity: 0.6
    color: black

.label.secondary
  padding: 0
  background: none
  font-size: 1em
  margin-bottom: 10px
  strong
    margin-left: 6px




// opacity hover effect for lists
.item-hover
  opacity: 0.6
  &:hover
    opacity: 1







// Color blocks
.orange
  background: #f9741c !important
.yellow
  background: #f9e21c !important
.light-green
  background: #baea54 !important
.forest-green
  background: #59a73e !important
.cyan
  background: #5cd9de !important
.turquoise
  background: #058fb2 !important
.navy
  background: #07699c !important
.dark-blue
  background: #2a4485 !important
.royal-blue
  background: #3155f1 !important
.purple
  background: #841cf9 !important
.mauve
  background: #cf46db !important
.pink
  background: #e945b1 !important
.red
  background: #f9401c !important
.white
  background: #fff !important
.grey
  background: #78787b !important
.black
  background: #000 !important

ul.colors
  li
    width: 30px
    height: 30px
    padding: 0
    position: relative
    box-shadow: 1px 1px rgba(0,0,0,0.15)
    div
      width: 100%
      height: 100%
      position: absolute
    &.selected
      border-bottom: 3px solid black










.style-menu-overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: white
  opacity: 0.8
  z-index: 99